<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body class="about-us-body">
    <nav class="links">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="contactus.html">Contact Us</a></li>
      </ul>
    </nav>
    <header class="about-us-header">The Team Behind The Project</header>
    <div class="authors">
      <div class="left">
        <p>
          Yarden Halely <br />
          <img src="../yarden.jpg" alt="yarden" />
          <br />
          205712425
        </p>
      </div>
      <div class="middle">
        <img src="../dota2Icon.png" alt="dota2Icon" />
      </div>
      <div class="right">
        <p>
          Nave Shitrit<br />
          <img src="../nave.png" alt="yarden" />
          <br />
          209431220
        </p>
      </div>
    </div>
  </body>
  <footer>© 2024 All Rights Reserved</footer>
</html>
