<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>Contact Us</header>
    <nav class="links">
      <ul>
        <li><a href="home.html">Home</a></li>
        <li><a href="aboutus.html">About Us</a></li>
      </ul>
    </nav>
    <div>You can contact us following the following links:</div>
    <nav class="contactus-button">
      <ul>
        <li>
          <button
            onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=jordanhalely@gmail.com', '_blank')"
          >
            Yarden Halely
          </button>

          <button
            onclick="window.open('https://mail.google.com/mail/?view=cm&fs=1&to=naveshitrit79@gmail.com', '_blank')"
          >
            Nave Shitrit
          </button>
        </li>
      </ul>
    </nav>
  </body>
  <footer>
    © 2024 All Rights Reserved<br />
    Yarden Halely & Nave Shitrit
  </footer>
</html>
