<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Our Dota 2 Guide</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <header>Dota 2 Guide</header>
  <nav class="links">
    <ul>
      <li><a href="aboutus.html">About Us</a></li>
      <li><a href="contactus.html">Contact Us</a></li>
    </ul>
  </nav>
  <body>
    <div>
      <a href="https://www.dotafire.com/" target="_blank">
        <img src="../dota2.jpg" alt="Dota" />
      </a>
      <p>Complete Guide Book To Dota2</p>
    </div>
  </body>
  <footer>Created By Yarden Halely & Nave Shitrit</footer>
</html>
